@import "reset";

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.nav {
  background-color: lightgray;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}

.nav a {
  text-decoration: none;
  color: #614E42;
}

.nav__item {
  position: relative;
}

.nav__subcontainer {
  background-color: lightgray;
  position: absolute;
  left: -10px;
  font-size: 0.8em;
  padding: 10px;
  min-width: 130px;
  display: none;
}

.nav__subitem +.nav__subitem {
  margin-top: 8px;
}

.nav__item:hover .nav__subcontainer {
  display: block;
}